body{
	width:100%;
}
.header{
	background: white;
	width: 100%;
	position: fixed;
	z-index: 1;
}
.h1left{
	width: 80%;
	float:left;
	background-color: white;
    border: none;
    color: black;
    display: inline-block;
    font-size: 20px;
    height:8%;
    
}
.h1right{
	width: 20%;
	float:left;
	font-size: 20px;

}
.h1left a{
	margin-top: 10px;
	text-decoration: none;
	color:black;
}
.h1right a{
	margin-top: 10px;
	text-decoration: none;
	color:black;
}
.image{
	width:100%;
	height:100%;
	overflow: hidden;
	
}
.image p{
	bottom: 20%;
	position: absolute;
	 padding-left: 20px;
  padding-right: 20px;
  color: grey;
   font-family: 'roboto', sans-serif;
   font-size: 20px;
}
.image img{
	position: relative;
}
.image2{
	width:100%;
	margin-bottom: 50%;

}
.img{
	width:39%;
	height:100%;
	float:left;
	margin-left: 10%;
	overflow: hidden;
}
.para{
	font-family: 'roboto', sans-serif;
	width:39%;
	float:left;
	margin-left: 2%
	
	margin-right: 10%;

}
.para p{
	font-size: 20px;
}
.para h1{
	font-family: 'roboto', sans-serif;
	font-size: 40px;
}
.para h6{
	background: lightgrey;
}
.hr{
	width:100%;
}

.image3{
	overflow: hidden;
	width:100%;
}
.para1{
	width:39%;
	float:left;
	margin-left:10%;
}
.im3{
	float:left;
	width:39%;
	margin-left:2%;
	margin-right:10%;
}
.para1 h1{
	font-size: 30px;
	font-family: 'roboto', sans-serif;
}
.para1 h2{
	font-size: 20px;
	font-family: 'roboto', sans-serif;
}
.para1 p{
	font-size: 15px;
	font-family: 'roboto', sans-serif;
	color:grey;

}
.contact h1{
	font-size: 30px;
	margin-left:10%;
}
.contact p{
margin-left:10%;
margin-right: 10%;
}
.contact h2{
	font-size: 25px;
	margin-left:10%;
	color:grey;
}
 .contact input{

	font-size: 12px;
	padding: 10px;
	width:80%;
	margin-bottom: 10px;
	color:black;
	border-color: lightgrey;
	margin-right: 10%;
	margin-left: 10%;
}
.button {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 10%;
  margin-bottom: 5%;
}
input:hover{
	border:2px solid skyblue;
}
.footer{
	background:lightgrey;
	padding: 20px;
	text-align: center;
}
}


@media only screen and (max-width: 600px) {
	.h1right{
		display:none;
	}
	.h1left{
	    width: 100%;
    margin-top: 5;
    margin-bottom: 8;
	}
	.image{
	width:100%;
	height:100%;
	overflow: hidden;
	
}
.image p{
	bottom: 20px;
	position: absolute;
	 padding-left: 20px;
  padding-right: 20px;
}
.image img{
	position: relative;
}


.image2{
	width:100%;
	overflow: hidden;
}
.img{
	width: 80%;
	float: left;
    margin-left: 4%;
	
}
.para{
	font-family: 'roboto', sans-serif;
    width: 60%;
    float: left;
    font-size: 13px;
    margin-left: 9;

}
.para h1{
	font-family: 'roboto', sans-serif;
	font-size: 15px;
}
.para h6{
	background: lightgrey;
	width:55;
}
.image3{
	width:100%;
	overflow: hidden;
}
 .im3{
	display: none;
	
}
.para1{
	font-family: 'roboto', sans-serif;
    width: 60%;
    float: right;
    font-size: 13px;
    margin-right: 9;

}
.para1 h1{
	font-family: 'roboto', sans-serif;
	font-size: 15px;
}
.para1 h6{
	background: lightgrey;
	width:55;
}
} 
@media only screen and (min-width: 600px) {

} 


